<form>
    <div class="panel sticky-footer">
        <div class="panel-heading">
            <h1 class="h2">{{model.title}}</h1>
        </div>
        <div class="panel-body" style="padding-top: 0;">
            <div class="form-group">
                <label class="">Provider Name:</label>
                <input type="text" class="form-control" placeholder="Provider Name">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 form-group date">
                    <label class="" title="Service From Date">From Date:</label>
                    <input type="text" class="form-control" placeholder="07/01/2016">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 form-group date">
                    <label class="" title="Service To Date">To Date:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                    <label>Sample Field:</label>
                    <select class="form-control">
                    </select>
                </div>
            </div>


        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <button class="btn btn-default">Clear</button>
                        <button class="btn btn-success" type="button">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>