
results-panel {
  position: fixed;
  top: 126px;
  bottom: 0px;
  //left: 40%;
  left: 58%;
  width: 60%;
  overflow: hidden;
  background: rgba(255, 255, 255, .7);
  background: white;
  padding: 10px 0px 0px 0px;

  #provider-search-results {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 70%;
    overflow: hidden;
    box-shadow: -1px 3px 10px 3px rgba(0, 0, 0, 0.4);

    .search-results-table {
      tbody {
        position: absolute;
        top: 70px;
        left: 0px;
        right: 0px;
        bottom: 70px;
        overflow: auto;
        border-top: 1px solid #EDEDED;
        border-bottom: 1px solid #EDEDED;
      }
    }
  }

  #provider-search-results-filter {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30%;
    bottom: 0px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.18);

    hr {
      margin: 0 0 10px;
    }
    #provider-search-results-filter-form {
      position: absolute;
      top: 50px;
      right: 0px;
      left: 0px;
      bottom: 70px;
      overflow: auto;
      border-top: 1px solid #EDEDED;
      border-bottom: 1px solid #EDEDED;
    }
  }

  [ng-transclude="results-panel"],
  results-panel,
  #results-wrapper {
    height: 100%;
  }

  .results-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding: 20px;
  }
}

.typeahead.typeahead-long.dropdown-menu {
  max-height: 500px;
  overflow: auto;
}
