<standard-layout>
    <search-layout>
        <search-panel>
            <form name="searchForm">
                <div class="panel">
                    <div class="panel-heading">
                        <h1>{{title}}</h1>
                    </div>

                    <div class="panel-body" style="background: white;">

                        <!-- PROVIDER SEARCH OPTIONS -->
                        <legend><button aria-expanded="false" class="btn-block criteriaButton" data-toggle="collapse" data-target="#providerCriteria">Search by Provider <span class="glyphicon glyphicon-plus pull-right"></span></button></legend>
                        <div class="collapse" style="background: white" id="providerCriteria">
                            <div class="form-group">
                                <label for="providerName">Provider Name:</label>
                                <input type="text" id="providerName" class="form-control" ng-model="model.Criteria.ProviderName">
                            </div>

                            <div class="form-group">
                                <label for="providerType">Provider Type:</label>
                                <select id="providerType" class="form-control" ng-model="model.Criteria.ProviderType"
                                        ng-options="providerType.Id as providerType.Name for providerType in model.ProviderTypes">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="form-group">
                            <label for="starRating">Quality Star Rating:</label>
                            <select id="starRating" class="form-control" ng-model="model.Criteria.Rate"
                                    ng-options="rate.Id as rate.Name for rate in model.Rates">
                                <option value=""></option>
                            </select>
                            <hr style="border-color: #ffffff">
                        </div>
                        </div>
                        <!-- LOCATION SEARCH OPTIONS -->


                        <fieldset>
                            <legend>
                                <button aria-expanded="false" class="btn-block criteriaButton" data-toggle="collapse" data-target="#locationCriteria">Search by Location
                                    <span class="glyphicon glyphicon-plus pull-right"></span>
                                </button>
                            </legend>
                            <div class="collapse" id="locationCriteria">
                                <div class="form-group">
                                    <label for="city">City:</label>
                                    <select id="city" class="form-control" ng-model="model.Criteria.City"
                                            ng-options="city for city in model.Cities">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="county">County:</label>
                                    <select id="county" class="form-control" ng-model="model.Criteria.County"
                                            ng-options="county.Id as county.Name for county in model.Counties">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="zipCode">Zip Code:</label>
                                    <input id="zipCode" type="text" ng-minlength="5" class="form-control" ng-pattern="/^\d{5}(?:[-\s]*\d{4})?$/" ng-model="model.Criteria.address" name="address">
                                    <div class="error" style="color: red" ng-show="{{'searchForm.address.$invalid '}}">
                                        Please enter a valid zip code
                                    </div>
                                </div>
                                <div class="form-group">
                                <label for="searchRadius">Distance(miles):</label>
                                <input id="searchRadius" type="number" min="0" class="form-control" ng-model="model.Criteria.distance" name="distance">
                                <div class="error" style="color: red" ng-show="{{'searchForm.distance.$invalid '}}">
                                    Please enter a numeric value

                                </div>
                                <hr style="border-color: #ffffff">
                            </div>
                            </div>
                        </fieldset>



                        <!-- ADVANCED SEARCH OPTIONS -->
                        <fieldset>
                            <legend>
                                <button class="btn-block criteriaButton" data-toggle="collapse" data-target="#advancedCriteria" aria-expanded="false">Advanced Search Options
                                    <span class="glyphicon glyphicon-plus pull-right"></span>
                                </button>
                            </legend>
                            <div class="collapse" id="advancedCriteria">
                                <div class="form-group">
                                    <label for="ageRange">Age Ranges:</label>
                                    <select id="ageRange" class="form-control" ng-model="model.Criteria.Age"
                                            ng-options="age.Id as age.Name for age in model.Ages">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="gendersAccepted">Genders Accepted:</label>
                                    <select id="gendersAccepted" class="form-control" ng-model="model.Criteria.Gender"
                                            ng-options="gender.Id as gender.Name for gender in model.Genderes">
                                        <option value=""></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="acceptsSubsidized">Accepts subsidized child care:</label>

                                    <select id="acceptsSubsidized" class="form-control" ng-model="model.Criteria.CanTakeBehavioralChildren"
                                            ng-options="canTakeBehavioralChildren.Id as canTakeBehavioralChildren.Name for canTakeBehavioralChildren in model.CanTakeBehavioralChildrens">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <button class="btn btn-success" type="submit" ng-click="model.search()">Search</button>
                                    <button class="btn reset" ng-click="model.clear()" style="color: black">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <script>
                $(document).ready(function() {
                   $('.collapse').collapse('hide');

                    $('.criteriaButton').on('click', function() {
                        var span = $(this).children();
                        if ($(span).hasClass('glyphicon-plus')) {
                            $(span).removeClass('glyphicon-plus').addClass('glyphicon-minus');
                        } else {
                            $(span).removeClass('glyphicon-minus').addClass('glyphicon-plus');
                        }
                    });
                });
            </script>
        </search-panel>
        <results-panel>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                        <div class="pull-left">
                            <h2>Search Results</h2>
                        </div>
                        <div class="pull-right" style="margin-top: -10px;">
                            <div class="row">
                                <div class="col-xs-9">
                                    <label for="sortControl" class="control-label">Sort By:</label>
                                </div>
                                <div class="col-xs-1">
                                    <span ng-show="!model.sortData.up">
                                        <span class="glyphicon glyphicon-arrow-down" ng-click="model.up()"></span>
                                    </span>
                                    <span ng-show="model.sortData.up">
                                        <span class="glyphicon glyphicon-arrow-up" ng-click="model.up()"></span>
                                    </span>
                                </div>
                            </div>
                            <select id="sortControl" class="form-control" ng-model="model.sortData.sortField" ng-change="model.sort()"
                                    ng-options="sortBy.Id as sortBy.Name for sortBy in model.SortByes">
                            </select>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin-top: 0">
                    <div class="result-pagination" style="display: none; margin: 10px 0 20px 0;">
                        <div ng-if="model.filteredProviders.length>0" style="float: left;">Showing {{model.currentPage==0 ? 1:(model.currentPage)*model.listsPerPage+1}} to {{(model.currentPage!=pages-1)?(model.currentPage+1)*model.listsPerPage:model.providersCount}} of {{model.providersCount}} entries&nbsp;&nbsp;|&nbsp;&nbsp; </div>
                        <div ng-if="model.filteredProviders.length===0"  style="float: left;">No Data Found</div>
                        <div class="step prevLink" style="float: left;" ng-if="model.filteredProviders.length>0">
                            Show&nbsp;&nbsp;<select id="selectPerPage" ng-change="model.ChangeDisplayNums()" ng-model="model.listsPerPage" ng-options="item as item for item in model.ItemsPerPageList"></select>&nbsp;&nbsp;entries&nbsp;&nbsp;|&nbsp;&nbsp;
                        </div>
                        <div style="float: left; " ng-if="model.filteredProviders.length>0">
                            <input id="GoPage" type="text" style="width: 35px; height: 23px;" />
                            <input type="button" value="GO" style="width: 35px; height: 20px; font-size: 11px;" ng-click="model.setPage(-1)" />
                        </div>
                    </div>
                    <table id="searchResults" class="table table-condensed table-responsive">
                        <thead ng-hide="true"></thead>
                        <tbody>
                            <tr ng-repeat="provider in model.filteredProviders| paging:model.currentPage*model.listsPerPage | limitTo:model.listsPerPage">

                                <td class="col-xs-12  providerNameSection">
                                    <div class="providerName">
                                        <strong>{{provider.ProviderName}}</strong>
                                    </div>
                                </td>
                                <td class="col-xs-12 starRating">
                                    <label>Quality Star Rating:</label>
                                    <div ng-if="provider.QualityRating===1">
                                        <img src="content/macwis/knewstuff.png" /><img src="content/macwis/14_star.png"><img src="content/macwis/14_star.png"><img src="content/macwis/14_star.png"><img src="content/macwis/14_star.png">
                                    </div>
                                    <div ng-if="provider.QualityRating===2">
                                        <img src="content/macwis/knewstuff.png" /> <img src="content/macwis/knewstuff.png" /><img src="content/macwis/14_star.png"><img src="content/macwis/14_star.png"><img src="content/macwis/14_star.png">
                                    </div>
                                    <div ng-if="provider.QualityRating===3">
                                        <img src="content/macwis/knewstuff.png" /> <img src="content/macwis/knewstuff.png" /> <img src="content/macwis/knewstuff.png" /><img src="content/macwis/14_star.png"><img src="content/macwis/14_star.png">
                                    </div>
                                    <div ng-if="provider.QualityRating===4">
                                        <img src="content/macwis/knewstuff.png" /> <img src="content/macwis/knewstuff.png" /> <img src="content/macwis/knewstuff.png" /> <img src="content/macwis/knewstuff.png" /><img src="content/macwis/14_star.png">
                                    </div>
                                    <div ng-if="provider.QualityRating===5">
                                        <img src="content/macwis/knewstuff.png" /> <img src="content/macwis/knewstuff.png" /> <img src="content/macwis/knewstuff.png" /> <img src="content/macwis/knewstuff.png" /> <img src="content/macwis/knewstuff.png" />
                                    </div>
                                    <div ng-if="provider.QualityRating===0">
                                        <img src="content/macwis/14_star.png"><img src="content/macwis/14_star.png"><img src="content/macwis/14_star.png"><img src="content/macwis/14_star.png"><img src="content/macwis/14_star.png">
                                    </div>
                                </td>
                                <td class="col-xs-12 col-sm-8 col-md-8 col-lg-10 providerInfo">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div><strong>Type: </strong><span>{{provider.ProviderTypeDescription}}</span></div>
                                        <div><strong>Phone: </strong><span>{{provider.PhoneNumber}}</span></div>
                                        <div><strong>City: </strong><span>{{provider.PhysicalCity}}</span></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div ng-if="provider.Distance"><strong>Distance: </strong><span>{{provider.Distance}}</span></div>
                                        <div><strong>County: </strong><span>{{provider.CountyName}}</span></div>
                                        <div><strong>Capacity: </strong><span>{{provider.ProviderCapacity}}</span></div>
                                    </div>
                                </td>

                                <td class="col-xs-12 col-sm-4 col-md-4 col-lg-2 providerDetails">
                                    <a class="btn btn-default btn-lg btn-block" ng-click="model.showDetails(provider)">Provider Details</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <!--</div>-->

                    <!--<div class="result-pagination" style="display: none;">Showing {{currentPage==0 ? 1:(currentPage)*listsPerPage+1}} to {{(currentPage!=pages-1)?(currentPage+1)*listsPerPage:providersCount}} of {{providersCount}} entries</div>-->
                    <div class="result-pagination" style="display: none; text-align: center;">

                        <!--Pagination with disabled and active states-->
                        <!--===================================================-->
                        <!--<div class="step prevLink" style="float: left; margin: 25px 0;">
                            Show<select id="selectPerPage" ng-change="ChangeDisplayNums()" ng-model="listsPerPage" ng-options="item as item for item in ItemsPerPageList"></select>entries
                        </div>
                        <div style="width: 10px; float: left; margin: 25px 0;"></div>
                        <div style="float: left; margin: 25px 0;">
                            <input id="GoPage" type="text" style="width: 30px;" />
                            <input type="button" value="GO" ng-click="setPage(-1)" />
                        </div>-->
                        <ul class="pagination" style="margin-top: 30px;">
                            <li><a href="javascript:void(0)" class="step prevLink" ng-click="model.firstPage()"><<<</a></li>
                            <li><a href="javascript:void(0)" class="step prevLink" ng-click="model.prevPage()">Previous</a></li>
                            <li ng-class="{true:'active',false:''}[num==model.currentPage]" ng-repeat="num in model.pageNum"><a href="javascript:void(0)" ng-click="model.setPage(num)">{{num+1}}</a></li>
                            <li><a href="javascript:void(0)" class="step nextLink" ng-click="model.nextPage()">Next</a></li>
                            <li><a href="javascript:void(0)" class="step prevLink" ng-click="model.lastPage()">>>></a></li>
                        </ul>

                        <div>
                        </div>
                        <!--===================================================-->
                        <!--End Pagination with disabled and active states-->
                    </div>
                </div>

                <div ng-show="model.showProviderDetails">
                    <div>
                        <style type="text/css">
                            .modal-backdrop
                            {
                                background: rgba(0, 0, 0, 0.7);
                            }
                        </style>
                        <div class="modal-backdrop" style="height: 995px;"></div>
                        <div class="modal fade in" aria-hidden="false" role="dialog" style="display: block; overflow: scroll;">
                            <div class="modal-dialog modal-lg modal-xlg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Provider Details</h3>
                                        <button type="button" class="close btn btn-default" aria-label="Close" ng-click="model.clickOk()"><i class="fa fa-close"></i></button>
                                    </div>
                                    <div class="modal-body pad-no">
                                        <div class="container-fluid pad-no">
                                            <!-- Client Summary Info-->
                                            <div class="row">

                                                <div class="col-xs-12 col-sm-4">
                                                    <p>
                                                        <strong>Provider Name: </strong>{{model.provider.ProviderName}}
                                                    </p>
                                                    <p>
                                                        <strong>Provider Type: </strong> {{model.provider.ProviderTypeDescription}}
                                                    </p>
                                                    <p>
                                                        <strong>Phone#: </strong>{{model.provider.PhoneNumber}}
                                                    </p>
                                                    <p ng-show="model.provider.CanTakeChildrenWithBehavioralProblems===true">

                                                        <strong>Accepts subsidized child care: </strong>Yes
                                                    </p>
                                                </div>
                                                <div class="col-xs-12 col-sm-4">
                                                    <p>
                                                        <strong>City: </strong>{{model.provider.PhysicalCity}}
                                                    </p>
                                                    <p>
                                                        <strong>Quality Star Rating: </strong>{{model.provider.QualityRatingDescription}}
                                                    </p>
                                                    <p>
                                                        <strong>License Type: </strong>{{model.provider.LicenseType}}
                                                    </p>
                                                    <p ng-show="model.provider.CanTakeChildrenWithBehavioralProblems===false">

                                                        <strong>Accepts subsidized child care: </strong>No
                                                    </p>
                                                </div>
                                                <div class="col-xs-12 col-sm-4">
                                                    <p>
                                                        <strong>County: </strong>{{model.provider.CountyName}}
                                                    </p>
                                                    <p>
                                                        <strong>Zip Code: </strong>{{model.provider.PhysicalZipCode}}
                                                    </p>
                                                    <p>
                                                        <strong>Provider Capacity: </strong> {{model.provider.ProviderCapacity}}
                                                    </p>
                                                    <p>
                                                        <strong>Age Range: </strong>{{model.provider.MinAge}}-{{model.provider.MaxAge}}
                                                    </p>
                                                    <p>
                                                        <strong>Gender: </strong>{{model.provider.Gender}}
                                                    </p>


                                                    <p ng-show="model.provider.CanTakeChildrenWithBehavioralProblems!==false&& model.provider.CanTakeChildrenWithBehavioralProblems!==true">

                                                        <strong>Accepts subsidized child care: </strong>{{model.provider.CanTakeChildrenWithBehavioralProblems}}
                                                    </p>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button id="providerSearchButton" class="btn btn-default pull-right" type="button" ng-click="model.clickOk()">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </results-panel>
    </search-layout>
</standard-layout>
