<link rel='stylesheet' type="text/css" href="views/shared/layouts/search-layout/search.layout.css" />

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-5 col-sm-4 col-md-3" ng-transclude="search-panel">
            <!-- Search Form Content -->
        </div>
        <div class="col-xs-offset-1 col-xs-5 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-7">
            <div class="row" ng-transclude="results-panel">
                <!-- Search Results Content -->
            </div>
        </div>
    </div>
</div>