@primary-theme-color : darken(#6498AD, 10%);

body{

    > div.container-fluid{
        padding: 0;
        > div.col-xs-12{
            padding: 0 0 25px 0;
        }
    }

    div[ng-transclude="results-panel"], div[ng-transclude="search-panel"]{
        padding: 0;
    }

    a:hover {
        cursor: pointer;
    }

    .searchTab {
        background: @primary-theme-color !important;
        color: white !important;
        text-shadow: none;
        font-weight: bold;
        border: none;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        &:not(.activeTab) {
            bottom: -5px;
            background-color: darken(@primary-theme-color, 10%) !important;
        }


        &:hover,
        &:focus
        {
            text-decoration: underline;
        }
    }

    input[type='text'], select.form-control{
        //height: 45px;
    }

    #providerPanel{
        // Homepage provider search button
        input#providerName{
            //height: 59px;
            //font-size: 18px;
        }


    }

    .homeSearchButton{
        margin: 15px auto 0 auto;
    }

    .tab-content{
        .row{
            padding: 0 15px;
        }
    }

    #homeBelowFold{
        h2{
            font-weight: 700;
        }
        div.homeInfo{

            h3{
                font-size:20px;
                font-weight: 700;
            }
        }
    }

    #homeSearch{
        background: @primary-theme-color;
        width: 100%;
        left: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        color: white;

        div[role="tabpanel"]{
            h2{
                margin-top: 0;
                font-weight: 600;
            }
        }

        label {
            font-size: 130%;
        }
    }

    table#searchResults{
        border: none;
        tr{
            border-bottom: 1px solid #3c3c3c;
            td{
                border: none;
                padding: 5px 0;
                div[class^="col-"]{
                    padding: 0;
                    div{
                        margin: 5px 0;
                        strong{
                            font-size: 16px;
                        }
                        span{
                            font-size: 16px;
                        }
                    }
                }
                div.providerName{
                    strong{
                        font-size:18px;
                        display: block;
                    }
                }
            }
        }
    }

    div.providerSearchResult{
        margin: 8px 0 8px 0;
        &:first-of-type{
            margin-top: 15px;
        }
        &:last-of-type{
            margin-bottom: 0;
        }
        div.row{
            span.providerName{
                font-size: 16px;
                font-weight: 700;
                color: darkred;
            }
        }

    }

}

@media (min-width: 767px){
    div[ng-transclude="results-panel"], div[ng-transclude="search-panel"]{
        padding: 0 15px !important;
    }
}




