body .no-padding {
  padding: 0 !important;
}
body a:hover {
  cursor: pointer;
}
body > div.container-fluid {
  padding: 0;
}
body > div.container-fluid > div.col-xs-12 {
  padding: 0 0 25px 0;
}
body div#resultsPageContainer {
  padding-left: 0;
}
body div#resultsPageContainer div#searchPanelContainerOuter {
  padding: 0 20px 0 10px;
}
body div#resultsPageContainer div#searchPanelContainerOuter div#searchPanelContainer form div.panel {
  background: #6498AD;
  border: 4px solid #6498AD;
}
body div#resultsPageContainer div#searchPanelContainerOuter div#searchPanelContainer form div.panel .panel-heading {
  color: white;
  border-bottom: 1px solid white;
  padding: 0 15px;
}
body div#resultsPageContainer div#searchPanelContainerOuter div#searchPanelContainer form div.panel .panel-heading h1 {
  font-weight: 600;
  margin: 10px 0 8px 0;
  font-size: 28px;
}
body div#resultsPageContainer div#searchPanelContainerOuter div#searchPanelContainer form div.panel .panel-body {
  max-height: 755px !important;
  overflow-y: scroll !important;
}
body div#resultsPageContainer div#searchPanelContainerOuter div#searchPanelContainer form div.panel .panel-body legend button {
  color: black;
  font-weight: 600;
  font-size: 18px;
  background: transparent;
  text-align: left;
  border: none;
  padding: 3px 0;
}
body div#resultsPageContainer div#searchPanelContainerOuter div#searchPanelContainer form div.panel .panel-body legend button span {
  position: relative;
  bottom: -2px;
}
body div#resultsPageContainer div#searchPanelContainerOuter div#searchPanelContainer form div.panel .panel-body label {
  color: black;
}
body div#resultsPageContainer div#searchPanelContainerOuter div#searchPanelContainer form div.panel .panel-footer {
  background: #6498AD;
}
body div#resultsPageContainer div#searchPanelContainerOuter div#searchPanelContainer form div.panel .panel-footer .reset {
  color: #000 !important;
}
body div#resultsPageContainer div#resultsPanelContainer {
  padding-left: 0;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row h2 {
  font-weight: 600;
  margin-bottom: 5px;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row select#sortControl {
  height: 30px !important;
  padding: 6px 1px;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults {
  border: none;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr {
  border-bottom: 1px solid #ccc;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td {
  border: none;
  padding: 0;
  display: inline-block;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td.providerNameSection {
  padding-top: 20px;
  padding-bottom: 8px;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td.providerNameSection div.providerName strong {
  font-size: 22px;
  color: #6498AD;
  display: inline-block;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td.starRating {
  padding: 3px 0 0 0;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td.starRating label {
  font-size: 18px;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td.starRating div {
  display: inline-block;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td.starRating div img {
  padding-bottom: 6px;
  padding-right: 1px;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td.providerInfo div {
  padding: 0;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td.providerInfo div div {
  margin: 8px 0;
  font-size: 15px;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td.providerInfo div div strong {
  font-size: 16px;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td.providerInfo div div span {
  font-size: 15px;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td.providerDetails {
  padding-bottom: 15px;
}
body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row table#searchResults tr td.providerDetails a.btn {
  background: #6498AD;
  color: white;
  border: 1px solid #ccc;
  text-shadow: none;
}
body .searchTab {
  background: none;
  color: white;
  text-shadow: none;
  font-weight: bold;
  border: 2px solid white;
  margin-bottom: 15px;
}
body input[type='text'],
body select.form-control {
  height: 45px;
}
body #providerPanel input#providerName {
  height: 59px;
  font-size: 18px;
}
body .homeSearchButton {
  margin: 15px auto 0 auto;
}
body .searchTab:hover {
  background: white;
  border: 2px solid #ccc;
}
body .searchTab:active,
body .searchTab.active {
  background: white;
  border: 2px solid white;
}
body .searchTab:focus {
  background: none;
  border: 2px solid white;
  color: white;
}
body .tab-content .row {
  padding: 0 15px;
}
body #homeBelowFold h2 {
  font-weight: 700;
}
body #homeBelowFold div.homeInfo h3 {
  font-size: 20px;
  font-weight: 700;
}
body #homeSearch {
  background: #6498AD;
  width: 100%;
  left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}
body #homeSearch div[role="tabpanel"] h2 {
  margin-top: 0;
  font-weight: 600;
}
@media (max-width: 767px) {
  body > div.container-fluid {
    padding: 0;
  }
  body div#resultsPageContainer {
    padding: 0;
  }
  body div#resultsPageContainer div#resultsPanelContainer,
  body div#resultsPageContainer div#searchPanelContainer {
    padding: 0px;
  }
  body div#resultsPageContainer div#resultsPanelContainer div.col-xs-12 div.row {
    padding: 0 15px;
  }
  body div#resultsPageContainer div#searchPanelContainer {
    position: static;
  }
  body div#resultsPageContainer div#searchPanelContainer form div.panel .panel-body {
    overflow: visible !important;
    max-height: none !important;
  }
}
